.advantages-item__description {
  margin: 0 auto;
  padding-bottom: 39px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item__description__bridge {
  padding-top: 3px;
  padding-right: 27px;
  padding-left: 20px;
  padding-bottom: 34px;
}
