.advantages__head {
  margin: 0px;
  padding-top: 10px;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
