.advantages-item__sub {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item__sub__bridge {
  margin-top: 11px;
  margin-left: -2px;
}
