.advantages__list {
  font-family: $font-stack;
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
