.advantages {
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
  }
}

.advantages::before {
  position: absolute;
  background-image: url("/img/triangle-content.svg");
  background-repeat: no-repeat;
  content: "";
  width: 100%;
  height: 36px;
  background-position: center;

  @include tablet {
    display: none;
  }
}

.advantages__list {
  font-family: $font-stack;
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.advantages__list--house-svg {
  margin-left: 4px;
  width: 53px;
  padding-top: 13px;
  padding-left: 14px;
  height: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-left: 86px;
    width: 161px;
    height: 133px;
  }

  @media (min-width: $desktop-width) {
    width: 302px;
  }
}

.advantages__list--burger-svg {
  margin-left: 4px;
  width: 53px;
  padding-top: 9px;
  padding-left: 14px;
  height: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-left: 86px;
    width: 161px;
    height: 133px;
  }

  @media (min-width: $desktop-width) {
    width: 304px;
  }
}

.advantages__list--gift-svg {
  padding-top: 7px;
  padding-left: 21px;
  margin-left: 1px;
  width: 53px;
  height: 73px;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
    padding-left: 86px;
    width: 167px;
    height: 134px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    width: 309px;
    height: 133px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding-top: 71px;
  padding-right: 6px;
  gap: 11px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    gap: 21px;
    padding-top: 40px;
    padding-left: 5px;
  }
}

.advantages__item-list {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-height: 256px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    height: 330px;
  }
}

.advantages__city-img {
  display: block;
  margin: 0 auto;
  min-width: 320px;
  max-height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__bridge-photo-img {
  display: block;
  margin: 0 auto;
  min-width: 320px;
  max-height: 260px;
}

.advantages__about-city {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.advantages__about-bridge {
  margin-top: 51px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 74px;
  }
}
