.advantages__description {
  margin: 0;
  padding-top: 34px;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width:$tablet-width) {

  }
  @media (min-width:$tablet-width) {
  }
}
