.advantages__city {
  display: block;

  @media (min-width: $tablet-width) {
    width: 66.6%;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    background-image: url(./img/city__photo-desktop.svg);
  }
}
