.advantages-item {
  min-height: 211px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    max-width: 33.3%;
  }
}

.advantages-item__sub {
  margin: 0 auto;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: -7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -17px;
  }
}

.advantages-item__title {
  margin: 0 auto;
  padding: 0;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 21px;
    padding: 8px 119px;
  }
}

.advantages-item__description {
  margin: 0 auto;
  padding-top: 6px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 1.5px 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.advantages-item--bridge {
  padding-top: 41px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: -17px;

  @media (min-width: $tablet-width) {
    margin-top: -17px;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;
  }
}
