.body {
  display: grid;
  background: #e7e5e5;
  margin: 0 auto;
  font-family: $font-stack;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
