.card__image {
  display: block;
  width: 100%;
  max-height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 267px;
  }

  @media (min-width: $desktop-width) {
    max-height: 267px;
  }
}

.card__image--title {
  display: block;
  width: 100%;
  max-height: 280px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}
