.card__total-likes {
  padding-left: 20px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
