.card__image {
  display: block;
  width: 100%;
  max-height: 280px;

  @media (min-width: $tablet-width) {
    max-height: 267px;
  }

  @media (min-width: $desktop-width) {
    max-height: 267px;
  }
}
