.content__block-card {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 768px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 1200px;
    margin-left: 0;
  }
}
