.content__card-list {
  text-align: center;

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width:$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
