.content__intro-index {
  display: flex;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
  }
}

/* Псевдоэлемент для баннера
 .content__intro-index::after {
  background-image: url(/img/intro-triangle.svg);
  width: 768px;
  height: 57px;
  top: 100px;
  left: 10px;
  background-color: green;
} */
