.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: $white;
  padding: 18.5px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 36px 60px;
  }
}

.footer__title {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.footer__logo {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  text-align: center;
  display: flex;
}

.footer__logo-academy {
  vertical-align: middle;
  color: $black;
}

.footer__logo-academy:hover {
  color: $blue;
}

.footer__logo-academy:active {
  color: $text-active;
}
