.footer__title {
  padding-top: 38px;
  padding-left: 91px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px;
  }
}
