.footer__title {
  margin-top: 38px;
  margin-left: 91px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $mobile-width-only) {
    padding-top: 38px;
    padding-left: 78px;
  }

  @media (min-width: $tablet-width) {
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px;
  }
}
