.footer {
  display: flex;
  flex-direction: column;
  background-color: $white;

  @media (min-width:$tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width:$desktop-width) {
    background: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
