.form {
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 71px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 120px;
  }
}

.form::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    left: 50%;
    content: "";
    width: 1px;
    height: 338px;
    color: $form-before;
    z-index: 10;
  }
}
