.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  min-height: 57px;
}

.header__toggle {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 17px;
  cursor: pointer;
}
