.header {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #FFFFFF;


  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}
