.information__input-img {
  width: 25px;
  height: 40px;
}

.information__description {
  margin: 0;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: $grey;
}
