.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(/img/intro-triangle.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 56px;
  background-position: center;
}

.intro__catalog {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }
  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.intro__sedona {
  position: relative;
  background-image: url(/img/intro__sedona__desktop.svg);
  background-position: center;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
  }
}

.intro__sedona::after {
  content: "";
  position: absolute;
  background-image: url(/img/intro-triangle.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  background-position: center;
}
