.introduce {
  font-family: $font-stack;
  font-style: normal;
}

.introduce__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.introduce__name {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }
}

.introduce__surname {
  padding-top: 16px;
}

.introduce__patronymic {
  padding-top: 16px;
}

.introduce__text-area {
  @media (min-width: $tablet-width) {
    width: 80%;
  }
}


.introduce__description {
  margin: 0;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: $grey;
}
