.intro {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("/img/intro-triangle.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 56px;
  background-position: center;
}

.intro__catalog {
  min-height: 158px;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.intro__img--form {
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__img--index {
  padding-top: 89px;
  padding-bottom: 80px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 85px;
  }
}

.intro__img--index::after {
  background-image: url("/img/intro-triangle.svg");
}
