.logo {
  position: absolute;
  margin: 0 67px;
  width: 185px;
  height: 96px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0 291px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin: 0 507px;
  }
}
