.modal-succsess__title {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
