.modal-succsess__button {
  display: block;
  width: 284px;
  height: 58px;
  margin: 0 auto;
  padding: 0;
  background: $blue;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;
}
