.nav {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

/* Меню открытия  */

.nav-menu__opened {
  @media (max-width: $mobile-width-only) {
    z-index: 10;
    margin: 0;

    .site-list__link {
      color: $white;
    }

    .site-list__link:hover {
      color: $white;
    }

    .site-list__link:active {
      color: $menu-open-text-active;
    }

    .site-list__link:focus {
      color: $white;
    }

    .site-list__item:hover {
      background-color: $text-box-bg-hover;
      border-top: 1px soild $text-box-bg-hover;
      border-bottom: 1px solid $text-box-bg-hover;
    }

    .site-list__item:active {
      background-color: $text-box-bg-active;
      border-top: 1px soild $text-box-bg-active;
      border-bottom: 1px solid $text-box-bg-active;
    }

    .site-list__item:disabled {
      background-color: $text-box-bg-disabled_ckeckbox-hover;
      border-top: 1px soild $text-box-bg-disabled_ckeckbox-hover;
      border-bottom: 1px solid $text-box-bg-disabled_ckeckbox-hover;
    }


    .site-list__item {
      border-top: 1px solid #678fa8;
      border-bottom: 1px solid #9ac2db;
      padding-top: 19px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav__list {
      position: absolute;
      padding: 0;
      margin: -29px 0;
      flex-direction: column;
      width: 100%;

    }

    .nav-menu__opened .nav__button {
      z-index: 10;
      top: 0;
      right: auto;
      left: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 24px;
        left: 18px;
        width: 36px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:active::before,
      &:active::after {
        background-color: fade(#ffffff, 30%);
      }
    }
  }
}


/* Меню закрытия */

.nav-menu__closed {
  .site-list {
    display: none;
  }

  .site-list__link {
    color: currentColor;
  }

  .site-list__link--active {
    color: $brown;
  }

  @include tablet {
    .site-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}


/* Бургерное меню и кнопка закрытия меню */

.nav__button {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 67px;
  height: 51px;
  background-color: $white;
  cursor: pointer;
  border: none;
}

.nav__button::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 24px;
  width: 22px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 9px 0 0 $blue, 0 18.5px 0 0 $blue;
}

.nav__button:hover::before {
  background-color: $burger-menu-hover;
  box-shadow: 0 9px 0 0 $burger-menu-hover, 0 18.5px 0 0 $burger-menu-hover;
}

.nav__button:active::before {
  background-color: $burger-menu-active;
  box-shadow: 0 9px 0 0 $burger-menu-active, 0 18.5px 0 0 $burger-menu-active;
}

.nav-menu__opened .nav__button {
  z-index: 10;
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 5px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #f2f3f4ee;
  }

  &:active::before,
  &:active::after {
    background-color: #fefefe70;
  }
}

/* Меню без JS */
.nav-menu__nojs {
  @media (max-width: $mobile-width-only) {
    z-index: 10;
    margin: 0;

    .nav__button {
      display: none;
    }

    .site-list__link {
      color: $white;
    }

    .site-list__link:hover {
      color: $white;
    }

    .site-list__link:active {
      color: $menu-open-text-active;
    }

    .site-list__link:focus {
      color: $white;
    }

    .site-list__item:hover {
      background-color: $text-box-bg-hover;
      border-top: 1px soild $text-box-bg-hover;
      border-bottom: 1px solid $text-box-bg-hover;
    }

    .site-list__item:active {
      background-color: $text-box-bg-active;
      border-top: 1px soild $text-box-bg-active;
      border-bottom: 1px solid $text-box-bg-active;
    }

    .site-list__item:disabled {
      background-color: $text-box-bg-disabled_ckeckbox-hover;
      border-top: 1px soild $text-box-bg-disabled_ckeckbox-hover;
      border-bottom: 1px solid $text-box-bg-disabled_ckeckbox-hover;
    }


    .site-list__item {
      border-top: 1px solid #678fa8;
      border-bottom: 1px solid #9ac2db;
      padding-top: 19px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav__list {
      position: absolute;
      display: flex;
      padding: 0;
      margin: -29px 0;
      flex-direction: column;
      width: 100%;
    }

    .nav-menu__opened .nav__button {
      z-index: 10;
      top: 0;
      right: auto;
      left: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 24px;
        left: 18px;
        width: 36px;
        height: 2px;
        background-color: #ffffff;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:active::before,
      &:active::after {
        background-color: fade(#ffffff, 30%);
      }
    }
  }
}
