.nav__list {
  display: none;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background-color: $white;
  }
}
