/* Открытое меню
.nav__opened {
  @media (max-width:$mobile-width-only) {
    .logo {
      display: none;
    }

    .site-list {
      min-width: 220px;
      background: $blue;
      display: flex;
      flex-direction: column;
      grid-template-columns: 100%;
      z-index: 10;
      color: $white;
    }

    .header__toggle {
      margin-top: 0;
    }

    .toggle__menu {
      display: none;
    }

    .toggle {
      background-color: $blue;
      top: -260px;
      background-image: url(/img/icon-cross.svg);
      background-repeat: no-repeat;
    }

  }
} */
