.nav__list {
  display: none;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1042px;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
