.rating__radio-box {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
