.site-list__link {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: $white;

  @media (min-width:$tablet-width) {
    color: $black;
  }

  @media (min-width:$tablet-width) {
    color: $black;
  }
}
