.site-list__item {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 19px;
}

.site-list__item:nth-child(4n + 3) {
  grid-column: 4/5;

  @media (min-width: $desktop-width) {
    margin-right: 120px;
  }
}

.site-list__item:hover {
  color: #81B3D2;
}

.site-list__item:focus {
  color: #B3B3B3;
}

.site-list__item:active {
  color: $brown;
}
