.site-list {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  background: #81B3D2;
}
