.site-list__item {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.site-list__item:hover {
  color: #81B3D2;
}

.site-list__item:focus {
  color: #B3B3B3;
}

.site-list__item:active {
  color: $brown;
}
