.text-index {
  @media (max-width: $mobile-width-only) {
    border-bottom-width: 1px;
    border-bottom-color: #d6d6d6;
    border-bottom-style: solid;
  }

  @media (min-width: $tablet-width) {
    width: 33.3%;
  }
}
