.text__sub {
  margin: 0;
  padding-top: 26px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: $grey;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12.5px;
    padding-left: 0;
  }
}

.text__sub__square {
  padding-top: 13px;

  @media (min-width: $tablet-width) {}

  @media (min-width: $tablet-width) {}
}

.text__sub__road {
  padding-top: 11px;

  @media (min-width: $tablet-width) {}

  @media (min-width: $tablet-width) {}
}

.text__sub__tourists {
  padding-top: 11.5px;

  @media (min-width: $tablet-width) {}

  @media (min-width: $tablet-width) {}
}
