.video__title {
  margin: 0 auto;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.video__description {
  margin: 0 auto;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: $black;
}
