.video-player {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 190px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    min-width: 648px;
    min-height: 560px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    min-width: 800px;
    min-height: 560px;
  }
}
