.wonder__button {
  width: 284px;
  height: 58px;
  margin: 0;
  margin-top: 31px;
  margin-left: 18px;
  margin-bottom: 50px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #81B3D2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;
}
