$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin mobile-width-only {
  @media screen and (max-width: $mobile-width-only) {
    @content;
  }
}
