$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$font-stack: "PT Sans", Arial, Helvetica, sans-serif;
$white: #ffffff;
$black: #000000;
$grey: #333333;
$light-gray: #f2f2f2;
$brown: #766357;
$blue: #81B3D2;
$text-active: #B3B3B3;


@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin mobile-width-only {
  @media screen and (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin font-stack {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

@mixin white {
  color: #ffffff;
}

@mixin black {
  color: #000000;
}

@mixin grey {
  color: #333333;
}

@mixin light-grey {
  color: #f2f2f2;
}

@mixin brown {
  color: #766357;
}

@mixin brown {
  color: #81B3D2;
}

@mixin text-active {
  color: #B3B3B3;
}
