@import "./mixins/mixins.scss";
@import "./fonts/fonts.scss";
@import "./setup/setup.scss";
@import "./setup/visually-hiden.scss";
@import "./blocks/theme-light.scss";
@import "./blocks/theme-dark.scss";
@import "./blocks/body.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/nav-opened.scss";
@import "./blocks/nav-closed.scss";
@import "./blocks/nav-nojs.scss";
@import "./blocks/logo.scss";
@import "./blocks/site-list.scss";
@import "./blocks/content.scss";
@import "./blocks/content-title.scss";
@import "./blocks/intro.scss";
@import "./blocks/intro-sedona.scss";
@import "./blocks/intro-catalog";
@import "./blocks/intro-sedona-svg";
@import "./blocks/intro-form";
@import "./blocks/advantages.scss";
@import "./blocks/advantages-title.scss";
@import "./blocks/advantages-item.scss";
@import "./blocks/advantages-list.scss";
@import "./blocks/text-index.scss";
@import "./blocks/text.scss";
@import "./blocks/theme-modified.scss";
@import "./blocks/wonder.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/footer-form.scss";
@import "./blocks/socials.scss";
@import "./blocks/content-head__sub.scss";
@import "./blocks/video.scss";
@import "./blocks/video-player.scss";
@import "./blocks/information.scss";
@import "./blocks/card.scss";
@import "./blocks/label.scss";
@import "./blocks/form.scss";
@import "./blocks/review.scss";
@import "./blocks/button.scss";
@import "./blocks/modal.scss";
@import "./blocks/modal-error.scss";
@import "./blocks/modal-success";
@import "./blocks/reset-list.scss";
@import "./blocks/introduce.scss";
@import "./blocks/text-list.scss";
@import "./blocks/attraction.scss";
@import "./blocks/rating.scss";
@import "./blocks/text-area.scss";
@import "./blocks/player-button.scss";
